<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Booking</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"/>
<script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
	<div class="container">
		<h2>
			Hotel Manager
		</h2>
		<br/>
		<h3>Bookings in Room</h3>
		<p class="text-danger" th:text="${error}">Error</p>
		<form class="form-inline" method="post" th:object="${booking}"
			  th:action="@{/hotels/{code}/rooms/{num}(code=${hotel.code}, num=${room.number})}">
			<label>Arrival:
				<input class="form-control" type="text" placeholder="2017-05-20" th:field="*{arrival}"/>
			</label>
			<label>Departure:
				<input class="form-control" type="text" placeholder="2017-05-20" th:field="*{departure}"/>
			</label>
			<input class="btn btn-primary" type="submit" value="Submit" />
		</form>
		<br/>
		<h3>List of Bookings</h3>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Reference</th>
					<th>ArrivalDate</th>
					<th>DepartureDate</th>
				</tr>
			</thead>
			<tbody>
			<tr th:each="booking: ${bookings}">
				<td th:text="${booking.reference}">Reference</td>
				<td th:text="${booking.arrival}">ArrivalDate</td>
				<td th:text="${booking.departure}">DepartureDate</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>