<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Account</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />
<script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
	<div class="container">
		<h2>
			Bank Manager
		</h2>
		<br/>
		<h3>Operations in Account</h3>
		<p class="text-danger" th:text="${error}">Error</p>
		<form class="form-inline" th:action="@{/banks/{bankCode}/clients/account}" th:object="${operation}" method="post">
			<label>AccountID: </label> <input class="form-control" type="text" th:field="*{account.id}" /> 
			<label>OperationType: </label> <input class="form-control" type="text" th:field="*{operation.type}" /> 
			<label>Value: </label> <input class="form-control" type="text" th:field="*{operation}" /> 
			<input class="btn btn-primary" type="submit" value="Submit" />
		</form>
		<br/>
	</div>
</body>
</html>