<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Banks Manager Welcome</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <h2>Welcome to Banks' Manager</h2>
    </div>
    <div class="row">
        <h3>Existing Banks</h3>
    </div>
    <div class="row">
        <div class="col-md-6">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Code</th>
                    <th>Page</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="bank: ${banks}">
                    <td th:text="${bank.name}">Name</td>
                    <td th:text="${bank.code}">Code</td>
                    <td><a th:href="@{/banks}">Page</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>