<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Banks Manager</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <h2>Banks Manager</h2>
    </div>
    <div class="row">
        <p class="text-danger col-md-6" th:text="${error}">Error</p>
    </div>
    <div class="row">
        <h3>Create a new Bank</h3>
    </div>
    <div class="row">
        <form class="form-inline" th:action="@{/banks}" th:object="${bank}" method="post">
            <div class="form-group">
                <label>
                    <span>Name: </span>
                    <input class="form-control" type="text" th:field="*{name}"/>
                </label>
            </div>
            <div class="form-group">
                <label>
                    <span>Code: </span>
                    <input class="form-control" type="text" th:field="*{code}"/>
                </label>
            </div>
            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="Submit"/>
            </div>
        </form>
    </div>
    <div class="row">
        <h3>Existing Banks</h3>
    </div>
    <div class="row">
        <div class="col-md-5">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Code</th>
                    <th>Page</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="bank: ${banks}">
                    <td th:text="${bank.name}">Name</td>
                    <td th:text="${bank.code}">Code</td>
                    <td><a th:href="@{/banks/{code}(code=${bank.code})}">Page</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
