<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bank Manager</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <h2>
            <span th:text="${bank.name}">Bank</span> Manager
        </h2>
    </div>
    <div class="row">
        <h3>Create a new Client</h3>
    </div>
    <div class="row">
        <p class="text-danger col-md-6" th:text="${error}">Error</p>
    </div>
    <div class="row">
        <form class="form-inline" th:action="@{/banks/{code}(code=${bank.code})}" th:object="${client}"
              method="post">
            <div class="form-group">
                <label>
                    <span>Name: </span>
                    <input class="form-control" type="text" th:field="*{name}"/>
                </label>
            </div>
            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="Submit"/>
            </div>
        </form>
    </div>
    <div class="row">
        <h3>Existing Clients</h3>
    </div>
    <div class="row">
        <div class="col-md-6">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Page</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="client: ${clients}">
                    <td th:text="${client.name}">Name</td>
                    <td><a th:href="@{/banks/{code}/clients/{cid}(code=${bank.code}, cid=${client.id})}">Page</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <h3>Existing Operations</h3>
    </div>
    <div class="row">
        <div class="col-md-6">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Reference</th>
                    <th>IBAN</th>
                    <th>Time</th>
                    <th>Type</th>
                    <th>Value</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="op: ${operations}">
                    <td th:text="${op.reference}">Name</td>
                    <td th:text="${op.iban}">Name</td>
                    <td th:text="${op.time}">Name</td>
                    <td th:text="${op.type}">Name</td>
                    <td th:text="${op.value}">Name</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
