<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Client</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />
<script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
	<div class="container">
		<h2>
			Bank Manager
		</h2>
		<br/>
		<h3>Create New Account</h3>
		<p class="text-danger" th:text="${error}">Error</p>
		<form class="form-inline" th:action="@{/banks/{bankCode}/clients/{id}}" th:object="${account}" method="post">
			<label>Bank Code: </label> <input class="form-control" type="text" th:field="*{code}" /> 
			<label>Client Name: </label> <input class="form-control" type="text" th:field="*{client}" /> 
			<input class="btn btn-primary" type="submit" value="Submit" />
		</form>
		<br/>
		<h3>List of Accounts</h3>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Account ID</th>
					<th>IBAN</th>
					<th>Balance</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="account: ${account}">
					<td th:text="${account.id}">AccountID</td>
					<td th:text="${account.IBAN}">IBAN</td>
					<td th:text="${account.Balance}">Balance</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>