<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Client Manager</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"/>
	<script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
	<div class="container">
		<div class="row">
			<h2>
				<a th:href="@{/banks}">Banks</a>
				<span> → </span>
				<a th:href="@{/banks/{code}(code=${bank.code})}" th:text="${bank.name}">Bank</a>
				<span> → </span>
				<span th:text="${client.name}">Client</span>
			</h2>
		</div>
		<div class="row">
			<p class="text-danger" th:text="${error}">Error</p>
		</div>
		<div class="row">
			<h3>Create a new Account</h3>
		</div>
		<div class="row">
			<form class="form-inline"
				  th:action="@{/banks/{code}/clients/{clid}(code=${bank.code}, clid=${client.id})}"
				  th:object="${account}" method="post">
				<input class="btn btn-primary" type="submit" value="Create Account"/>
			</form>
		</div>
		<div class="row">
			<h3>Existing Accounts</h3>
		</div>
		<div class="row">
			<div class="col-md-4">
				<table class="table table-striped">
					<thead>
					<tr>
						<th>IBAN</th>
						<th>Balance</th>
						<th>Page</th>
					</tr>
					</thead>
					<tbody>
					<tr th:each="account: ${accounts}">
						<td th:text="${account.iban}">IBAN</td>
						<td th:text="${account.balance}">Balance</td>
						<td>
							<a th:href="@{/banks/{code}/clients/{cid}/accounts/{iban}(code=${bank.code}, cid=${client.id}, iban=${account.iban})}">Page</a>
						</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>