<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Client</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />
<script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
	<div class="container">
		<h2>
			Activity Provider Manager
		</h2>
		<br/>
		<h3>Create New Activity</h3>
		<p class="text-danger" th:text="${error}">Error</p>
		<form class="form-inline" th:action="@{/activityProviders/{activityProvider}}" th:object="${activity}" method="post">
			<label>Activity Name: </label> <input class="form-control" type="text" th:field="*{activity.name}" /> 
			<label>Activity MinAge: </label> <input class="form-control" type="number" th:field="*{activity.minAge}" /> 
			<label>Activity MaxAge: </label> <input class="form-control" type="number" th:field="*{activity.maxAge}" /> 
			<label>Activity Capacity: </label> <input class="form-control" type="number" th:field="*{activity.capacity}" /> 
			<input class="btn btn-primary" type="submit" value="Submit" />
		</form>
		<br/>
		<h3>List of Activities</h3>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>ActivityName</th>
					<th>ActivityMinAge</th>
					<th>ActivityMaxAge</th>
					<th>ActivityCapacity</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="activity: ${activity}">
					<td th:text="${activity.name}">ActivityName</td>
					<td th:text="${activity.minAge}">MinAge</td>
					<td th:text="${activity.maxAge}">MaxAge</td>
					<td th:text="${activity.capacity}">Capacity</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>